/*The trick is to imagine a three-dimensional 
space where the text crawls vertical up the Y-axis and out along the Z-axis.
This gives the impression the text is both slide up the screen and away from the viewer at the same time.*/
/*First, let’s set up the document <body> so that the screen is not scrollable.
 We want the text to come up from the bottom of the screen without the viewer being able to scroll and see the text before it enters.
  We can use overflow: hidden to do that:*/
.ani {
  width: 100%; /*full width*/

  height: 100%; /*full height*/

  background: #000; /*black background*/

  overflow: hidden; /*hidden overflow*/
}
/*Now, let’s create the three-dimensional space.*/
.fade {
  position: relative; /*relative position*/

  width: 100%; /*full width*/

  min-height: 60vh; /*min height*/

  top: -25px; /*position below the text*/

  background-image: linear-gradient(0deg, transparent, black 75%); /*linear gradient*/

  z-index: 1; /*z index*/
}

.star-wars {
  display: flex; /*flexbox*/

  justify-content: center; /*centered*/

  position: relative; /*relative position*/

  height: 800px; /*height*/

  color: #feda4a; /*text color*/

  font-family: "Pathway Gothic One", sans-serif; /*font family*/

  font-size: 500%; /*font size*/

  font-weight: 600; /*font weight*/

  letter-spacing: 6px; /*letter spacing*/

  line-height: 150%; /*line height*/

  perspective: 400px; /*perspective*/

  text-align: justify; /*justified text*/
}
/*Now, let’s create the text.*/
h2 {
  color: blue; /*text color*/
}

/*Now, let’s animate the text.*/
.crawl {
  position: relative; /*relative position*/

  top: 99999px; /*position above the text*/

  transform-origin: 50% 100%; /*origin*/

  animation: crawl 60s linear; /*animation*/
}
/*Now, let’s style the text.*/
.crawl > .title {
  font-size: 90%; /*font size*/

  text-align: center; /*centered*/
}
/*Now, let’s animate the text.*/
.crawl > .title h1 {
  margin: 0 0 100px; /*margin*/

  text-transform: uppercase; /*uppercase*/
}
/*Now, let’s style the text.*/
@keyframes crawl {
  0% {
    top: -100px; /*position above the text*/

    transform: rotateX(20deg) translateZ(0); /*rotation*/
  }

  100% { 
    top: -6000px; /*position above the text*/

    transform: rotateX(25deg) translateZ(-2500px); /*rotation*/
  }
}
