/*The trick is to imagine a three-dimensional space where the text crawls vertical up the Y-axis and out along the Z-axis.
This gives the impression the text is both slide up the screen and away from the viewer at the same time.
First, let’s set up the document <body> so that the screen is not scrollable.
 We want the text to come up from the bottom of the screen without the viewer being able to scroll and see the text before it enters.
  We can use overflow:
/*My body is called ani */
.ani {
  width: 100%;

  height: 100%;

  background: #000;

  overflow: hidden;
}
/* I am using the fade on this element. because we want the image and text disapear on the page.
.fade */
{
  position: relative;

  width: 100%;

  min-height: 60vh;

  top: -25px;

  background-image: linear-gradient(0deg, transparent, black 75%);

  z-index: 1;
}

.star-wars {
  /* Flexbox to center the entire element on the screen */
  display: flex;
/* This number based on the context in which this snippet is used and effects the perspective */
  justify-content: center;

  position: relative;
/* This sets allows us to transform the text on a 3D plane, 
   The rest is totally up to personal styling preferences */
  height: 800px;

  color: #feda4a;

  font-family: "Pathway Gothic One", sans-serif;

  font-size: 500%;

  font-weight: 600;

  letter-spacing: 6px;

  line-height: 150%;

  perspective: 400px;

  text-align: justify;
}
h2 {
  color: blue;
}
.crawl {
  /* Position the element so we can adjust the top property in the animation.
   Making sure the text is fully off the screen at the start and end of the animation */
  position: relative;
  /* Defines the skew origin at the very center when we apply transforms on the animation */
  top: 99999px;

  transform-origin: 50% 100%;
/*will play the animation for 1 minute.*/
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;

  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;

  text-transform: uppercase;
}
/* I calling this animation "crawl" */
@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: -100px;
 /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
/*  using a big one to make sure the text is fully off the screen at the end */
  100% {
    top: -6000px;
/* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
