body {
  text-align: center; /* Centered */
  margin-top: 40px;
  background-image: url("/img/star.jfif"); /* Star Wars Background */
}
/* Style the header */
header {
  color: #feda4a;
}
/*style prev button*/
#prev {
  position: fixed;

  margin-top: -700px;

  margin-left: -310px;

  background-color: #feda4a;
}
/*style next button*/
#next {
  position: fixed;

  margin-top: -700px;

  margin-left: 250px;

  background-color: #feda4a;
}
/*style div*/
div {
  font-family: Arial, Helvetica, sans-serif;

  font-size: large;

  color: #feda4a;

  margin-top: 10px;
}
